
tr .option{
	height:200px;
}

.element {
	padding-left:50px;
}


.semaine{
	height:10px;
	font-size:2em;
	color:rgb(175, 97, 20);
}

.td_custom{
	background-color:rgb(175, 97, 20);
	opacity:0.8;
	color:white;
	text-align:center;
}

.choise{
	padding-left:50px;
}

.message{
	top:60px;
}

.validate{
	margin-left:500px;
	margin-top:70px;
	margin-bottom:50px;
	color: #AF6114;
}

label .active{
	color:rgb(175, 97, 20);

}
