.container_custom_client {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}
    .container_custom_client img {
        width: 100%;
    }

.row_custom {
    margin: 10px 0 !important;
    width: 100%;
}

.menu_semaine {
    margin-top: 0 !important;
    text-align: center;
    background-color: rgb(175, 97, 20);
    color: rgb(242, 242, 242);
}

.parallax-container{
    height: 350px;
}

.parallax-main {
    height: 350px;
}

#menu a {
    font-style: none;
    color: rgb(117, 117, 120);
}

#menu h3 {
    font-size: 1.7em;
}

.dayli a, .snack {
    background-color: rgb(255, 255, 255);

}

.dayli {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    z-index: 10;
    height: 350px;
    color: rgb(117, 117, 120);
}
    .dayli a {
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: space-around;
    }
    .dayli a:hover{
        box-shadow: 0 0 5px 5px rgba(180, 180, 180, 0.4) ;
    }
        .dayli a ul {
            display:flex;
            height: 280px;
            flex-flow: column;
            justify-content: space-around;
        }
            .dayli a ul li {
                display: block;

            }
    
.form_com1 {
    display: none;
}
.btn_custom {
    background: rgba(255, 255, 255, 0.45);
    color: rgb(175, 97, 20);

}
.btn_custom:hover{
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
}
.checkbox {
    z-index: 10;
}
.snack h2 {
    font-size: 2em;
}
#footer_custom {
    background-color: rgba(51, 51, 51, 0.08);
    color: rgb(175, 97, 20);
}
    #footer_custom a {
        color: rgb(175, 97, 20);
    }
