
/* body in class to not edit the "general" body */
.body{
	background-image: url('http://image.noelshack.com/fichiers/2017/12/1490172454-cooking-1013455.jpg');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}
/*test à effacer
.col{
	border: 2px red solid;
}
.row{
	border: 2px blue solid;
}*/
.container_custom{
	
}
/* Add filter to manage opacity of background's image*/
.filter{
	background-color: rgba(255, 255, 255, .75);
}
/* h in class to not edit "general" */
.h2{
	font-weight: 200 !important;
}
.h3{
	font-weight: 300 ;
}
.counter_box{
	text-align: center;
	margin: 0 auto;
	color: #af6114;
}
.counter_title{
	background: rgba(175,94,20,0.8);
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	color: white;
}
.snack_word , .meal_word{
	text-shadow: 2px 2px 2px black;
	letter-spacing: 3px;
}
.container_number_snack , .container_number_meal{
	font-size: 100px;
	letter-spacing: 3px;
}
.number_snack , .number_meal{
	margin: 0px;
	width: 260px;
	text-align: center;
	display: block;
	margin: auto;
	background-color: rgba(255,255,255, .6);
	border-radius: 20px;
}
.number_snack{
	color: #33691e;
}
.number_meal{
	color: #66bb6a;
}
/* Same proprieties because same apparence*/
.commentary_title , .week_reservation{
	text-align: center;
	color: white;
	margin-top: 10vh;
	background: rgba(175,94,20,0.8);
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}
/* Table of week's reservation (snack and meal) bye day of week */
.table_food{
	margin-top: 10vh;
	background: rgba(255, 255, 255, .5)!important;
}
.commentary_box{
	display: block!important;
	margin-top: 10vh;
}
.author_and_date{
	text-align: center;
	color: #af6114;
}
.commentary{
	text-align: justify;
	padding-right: 2vw;
	padding-left: 2vw;
	background: rgba(255, 255, 255, .7);
	border-radius: 10px;
}
/* buttons validate and delete */
.del_btn , .val_btn{
	display: block;
}
.validate{
	margin: 10px;

}
.val_btn{
	background: #7cb342!important;
}
.delete{
	margin: 10px;
}
.del_btn{
	background: #d32f2f !important;
}