
/*----------------------------------------*\
    1.BODY GENERAL STYLES
\*----------------------------------------*/
/*----------------------------------------*\
    2.HEADER
\*----------------------------------------*/
/*----------------------------------------*\
    3.MENUS-ADMIN
\*----------------------------------------*/





/*------- 1.BODY GENERAL STYLES--------*/

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 97, 20);
}

/*------- 2.HEADER--------*/
.head
{
    background-color: white;
    margin-bottom: 0px;
}

/*------- 3.MENUS-ADMIN--------*/
#admin {
	background-color: white;
}
tr .option {
	height:200px;
}


.validate {
	margin-left:500px;
	margin-top:70px;
	margin-bottom:50px;
	color: #AF6114;
}

label .active {
	color:rgb(175, 97, 20);
}

    