
/*----------------------------------------*\
    1.BODY GENERAL STYLES
\*----------------------------------------*/
/*----------------------------------------*\
    2.HEADER
\*----------------------------------------*/


/*------- 1.BODY GENERAL STYLES--------*/

body {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 97, 20);
}

/*------- 2.HEADER--------*/
