{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container_custom admin">
        <nav>
            <div class="nav-wrapper background">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a
                                class="btn tooltipped boutton btn_custom"
                                data-position="bottom"
                                data-delay="50"
                                data-tooltip="Aller vers la page cantine"
                                href="{{ path('app_resto_homepage') }}">Page du site
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row row_custom">
        <div class="col s8 offset-s2 snack">
            <p>Cette page n'existe pas.<br>
                Merci de cliquer sur "Page du site" afin d'être redirigé.</p>
        </div>
    </div>
{% endblock %}



