{% block com %}
    {% for comment in comments %}
        <div class="col m8 s12 offset-m2 col-custom-comment">
            <span class="pseudo">{{ comment.author }}</span>
            <span class="date">{{ comment.date.date|date('d/m/Y') }}</span><br>
            <span class="date">{{ comment.content }}</span><br>
            <p>
            </p>
        </div>
    {% endfor %}
{% endblock %}
